.cpcache/
.nrepl-port
target/*.class
*.iml
*/.lein-*
*/.nrepl-port
*/checkouts
*/classes
*/target/
.hg/
.hgignore
.idea/
.lein-failures
.lein-repl-history
.lsp/
/.eastwood
/.events.log
/pom.xml
checkouts
perf/.terraform*
perf/.terraform/**
perf/terraform*
pom.xml.asc*.class
target/