{:name "dove"
 :description "Recursively infer clojure spec from any (nested) org.apache.avro.Schema"
 :version "0.0.4-SNAPSHOT"
 :license {:name "GNU GPL, version 3, 29 June 2007"
           :url "https://www.gnu.org/licenses/gpl-3.0.txt"
           :addendum "GPL_ADDITION.md"}
 :paths ["src"]
 :mvn/repos {"io.confluent" {:url "https://packages.confluent.io/maven/"}}
 :deps {camel-snake-kebab {:mvn/version "0.4.0"}
        org.clojure/clojure {:mvn/version "1.10.0"}
        org.apache.avro/avro {:mvn/version "1.8.2"}
        clj-time {:mvn/version "0.15.1"}}
 :aliases {:dev {:extra-deps {org.apache.avro/avro-maven-plugin {:mvn/version "1.8.2"}
                              org.clojure/test.check {:mvn/version "0.10.0-alpha3"}
                              org.clojure/spec.alpha {:mvn/version "0.2.176"}}
                 :extra-paths ["test" "target/classes" "target/classes/dove"]}
           :test {:main-opts ["-m" "cognitect.test-runner"
                              "-d" "test"]
                  :extra-paths ["test"]
                  :extra-deps {com.cognitect/test-runner {:git/url "git@github.com:cognitect-labs/test-runner"
                                                          :sha "209b64504cb3bd3b99ecfec7937b358a879f55c1"}}}}}
